<div class="navbar">
    <ul>
        <li>
            <a routerLink="/about" routerLinkActive="active">about</a> 
            <a routerLink="/contact"  routerLinkActive="active">contact </a>
            <a routerLink="/home" routerLinkActive="active"> home</a>
            <a routerLink="/users" routerLinkActive="active"> users</a>
            <a routerLink="/products" routerLinkActive="active">products</a> 
            <a routerLink="/about" routerLinkActive="active"> child routing</a>
            <a routerLink="/login" routerLinkActive="active"> Login</a>
            <a routerLink="/dashboard" routerLinkActive="active">dash board</a>
        </li>
    </ul>
</div>