
<!-- <div>
    <span>{{ headertop }}</span>
    <p>{{headersub}}</p>
</div>
<div *ngFor="let s of reuse">
    <span >{{ s }}</span>  
</div>

<button (click)="passtoparent()">send to parent</button>

<input type="text" [(ngModel)]="tempref"> -->


<div class="navbar">
    <ul>
        <li class="d-flex justify-content-end"> 
            <!-- <a routerLink="/about" routerLinkActive="active">about</a>  -->
            <!-- <a routerLink="/contact"  routerLinkActive="active">contact </a> -->
            <!-- <a routerLink="/home" routerLinkActive="active"> home</a> -->
            <!-- <a routerLink="/users" routerLinkActive="active"> users</a> -->
            <!-- <a routerLink="/products" routerLinkActive="active">products</a>  -->
            <!-- <a routerLink="/about" routerLinkActive="active"> child routing</a>? --> 
            <a routerLink="/login" routerLinkActive="active"> Login</a>
            <a routerLink="/products"  routerLinkActive="active">dash board</a> 
        </li>
    </ul>
</div>
    <div class="mainbodybg">
        
    </div>
<!-- <div *ngFor="let b of booksdata">
    <span>{{b}}</span>

</div> -->
