<app-header></app-header>
<app-productheader> </app-productheader>
<div class="d-flex flex-wrap parent">
    <div *ngFor="let p of allproducts" class="shadow p-2 m-2 child">
        
        <img src="{{p.image}}" alt=""> <br> <br>
        <!-- <div>
            <span>{{p.title}}</span>
        </div> -->
        <div class="d-flex justify-content-around">
            <span>Price :{{p.price}}</span> 
        <span>Rating :{{p.rating.rate}}</span>
        </div>
        <div class="d-flex  justify-content-center m-1 p-1">
            <button class="btn btn-pink bg-warning">Buy </button>

        </div>
    </div>
</div>
<div>
    <span> its working</span>
</div>